@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);   
    /* 배경에 픽스를 주고 투명도를 준다. */
    }
    
    .loginModal {
    width: 480px;
    height: 350px; 
    position: relative;
    box-sizing: border-box;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    }
    
    
    .close {
    float: right;
    font-size: 35px;
    }
    .modalContents {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0 20px 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;}
    
    .signinIcon {
    width: 150px;
    margin: 0 auto;
    }
    
    .loginId {
    margin-top: 20px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
    }
    input::placeholder {
    color: #999999;
    }
    .loginPw {
    margin-top: 7px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
    }
    
    .loginMid {
    display: flex;
    justify-content: space-between;
    align-items: center;}
    .autoLogin {
    font-size: 12px;
    color: #8d8d8d;
    line-height: 3;
    }
    
    .loginBtn {
        width: 100%;
        height: 56px;
        background-color: #f26900;
        border: none;
        margin-top: 7px;
        border-radius: 0;
        color: #fff;
        font-size: 20px; 
        text-align: center !important;
        line-height: 56px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;
    }
     
     
    
    .loginEnd {
        text-align: center;
        font-size: 11px;
    } 
    
    .noUser {
        text-decoration: underline;
    }
    

    .txtmain{
        margin: 15px 0 5px;
        color: #606060;
        font-size: 18px;
        text-align: center !important;
        font-family: 'Noto Sans KR', sans-serif;
    }
