@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


/*Sidebar*/
:root {
    --font-basic: #555;
}

.sidebar{
    flex: 1;
    width: 200px;
    height: 66px;
    background-color: white;
    position: sticky;
    top: 50px;
}

.sidebarWrapper{ 
    color: var(--font-basic);
}

.sidebarMenu{
    margin-bottom: 2rem;
}

.sidebar_ListMenu{
    width: 200px;
    display: flex;
}

.menu_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    width: 33.3%;
    height: 66px;
    background-color: #d5e1f5;
    border: 0;
    box-shadow: inset 1px 0 0 0 #dee7f7; 
    box-sizing: border-box;
    color: #000;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}
 
.menu_btn1{
    background-color: #EE7300;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 0;
    box-shadow: none;
    width: 33.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sidebar_Title{
    font-size: 0.9rem;
    text-align: left;
    color: rgb(197, 197, 197);
}

.sidebar_List{
    list-style: none;
    padding: 0.5rem;
}

.sidebar_List_Item{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebar_List_Item:active,
.sidebar_List_Item:hover{
    font-weight: bold;
}

.sidebar_ListMenu{
    display: flex;
}

.others{
    flex:4;
    background-color: wheat ;
}

.home{
    flex:4;
    background-color: white ;
}



/*네비바 색상 정의*/

.side-navigation-panel *,
.side-navigation-panel:after,
.side-navigation-panel:before {
    border-color: #e2e8f0;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box
}

.side-navigation-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option {
    --tw-text-opacity: 1;
    align-items: center;
    color: var(--font-basic); /*기본 폰트 색상*/
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: .75rem 1.5rem .75rem ;
    width: 100%
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option:hover {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity)); 
    color: #EE7300;
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-wrap {
    align-items: center;
    display: flex
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-wrap .side-navigation-panel-select-option-text {
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-icon,
.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option svg {
    display: block; 
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity)); 
    color: #EE7300;
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option {
    --tw-text-opacity: 1;
    align-items: center;
    border-left-width: 2px;
    color: var(--font-basic); /*세부메뉴 기본폰트*/
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem .5rem  3rem;
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option:hover {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity)); 
    color: #EE7300; 
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option .side-navigation-panel-select-inner-option-wrap {
    align-items: center;
    display: flex
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option .side-navigation-panel-select-inner-option-wrap .side-navigation-panel-select-inner-option-text {
    font-size: 13px;
    line-height: 1.25rem;
    margin-left: .75rem;
    margin-right: .75rem
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option-selected {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity)); 
    color: #EE7300;
}

.table {
    display: table
}

@-webkit-keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes ping {

    75%,
    to {
        opacity: 0;
        transform: scale(2)
    }
}

@keyframes ping {

    75%,
    to {
        opacity: 0;
        transform: scale(2)
    }
}

@-webkit-keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@-webkit-keyframes bounce {

    0%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        transform: translateY(-25%)
    }

    50% {
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1);
        transform: none
    }
}

@keyframes bounce {

    0%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        transform: translateY(-25%)
    }

    50% {
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1);
        transform: none
    }
}

/*TopSection*/

.topbarWrapper{
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 160px;
    font-weight: bold;
    font-size: 30px;
    background-repeat: no-repeat;  
}
.topLeft{
    width: auto;
    display: flex;
}
.topCenter{
    text-align: right;
}
.topRight{
    width: auto;
    display: flex;
}

.topRight_right{
    display: inline-block;
    width: 50px;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background: white;
    border: none;
}
.dropSite{
    display: inline-block;
    height: 24px;
    background-color: rgb(255, 255, 255);
    border-color: #ccc;  
    outline: none;
    width: 150px; 
    clear: none;
    margin-top: 4px;
    margin-left: 7px;

}
.topRight_center{
    display: inline-block;
    border-right: 1px solid #ccc;
}

.logoutbtn{
    display: inline-block;
    height: 22px;
    margin: 15px 25px 0 10px;
    padding: 0 10px; 
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: #909090;
    font-size: 12px;
    box-sizing: border-box; 
    line-height: 22px;
}

.left_name{
    color: #909090;
    line-height: 50px;
    display: table-cell; 
    letter-spacing: -0.05em;
    font-size: 12px;
}